    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Derek Wayne</h2>
              <br/>
                <p>This collection of blogs and projects is intended to showcase my work on topics that interest me. My hope is to connect with others and learn continuously.</p>
                <p>Can add links as <a href="https://github.com/derekwayne">follows</a></p>
                <br/>
              </div>
        </div>
    </section>
