<html>
       <!-- About Section -->
     <section id="about" class="container content-section text-center">
         <div class="row">
             <div class="col-lg-8 col-lg-offset-2">
               <br/><br/>
               <h2>About Derek Wayne</h2><br />
               <div>
                 <!-- <p style="float: left;"><img src="self.jpg" alt="Self" style="width:320px;height:320px;padding-right=30px" align="top" border="10px"/> -->
                 <p style="text-align:left; padding-left:30px;">I’m often asked why I decided to pursue data science just after graduating from film school. I can remember juggling video editing with calculus, and falling in love with integrals over flashy cuts. I was good at both but I really wanted to challenge myself academically, do something unexpected, and strive to overcome fears of failure. Fast forward to today, and data science has become a fundamental part of who I am, how I think, and how I approach problems. My absolute passion is to communicate parts of this exciting field to others; to both peers and laymen. What I can offer is a strong understanding of modern statistical practice, experience with relevant tools, and enthusiasm for every project I work on.</p>
                 <br/>
                </div>
               </div>
          </div>
      </section>
</html>
